<!DOCTYPE html>
<html lang="en">

{% load static %}

<style type="text/css">
/*	.judul{
		background-color:  #66ffff;
		color:  #000066;
	}*/
	body{
		background-image: url("{%static "media/BagroundPicture.jpg" %}");
		background-repeat: no-repeat;
	 	background-size: cover; 
	 	text-align: center;
	}
	.text{
		color:  #66ffff;
		text-align: center;
		font-family: Helvetica;
		font-size: larger;
	}
</style>

<head>
    <meta charset="UTF-8">
    <title>Portofolio</title>
    <!-- <title>{{ name }}</title> -->
</head>
<body>
	<div>
	    <h1 class="text">Hello my name is {{ name }}</h1>
		<div>
			<img src="{%static "media/Author.jpg" %}", alt="Author's Profile Picture" style="width:128px;height:128px;"> 
		</div>
	    <article class="text">NPM : {{ npm }}</article>
	    <article class="text">I am {{ age }} years old</article>
	    <article class="text">I came from {{city}}. In the {{university}} i pursuing a bachelor degree on {{faculty}}. Lorem ipsum </article>

	</div>

	<div>
		<h1 class="text">Palito (19 yo)</h1>
		<div>
			<img src="{%static "media/Palito.jpeg" %}", alt="Author's Profile Picture" style="width:128px;height:128px;"> 
		</div>
		<article class="text">
			NPM : 1706039793
		</article>
		<article class="text">Comes from a Jungle in Indonesia(medan), and pursuing a bachelor degree in Computer Science in the University of Indonesia. He is right now sitting beside me. His hobby is playing nothing</article>


	</div>

	<div>
		<h1 class="text">Jose (19 yo)</h1>
		<div>
			<img src="{%static "media/jose.jpg" %}", alt="Author's Profile Picture" style="width:128px;height:128px;"> 
		</div>
		<article class="text">
			NPM : 1706039793
		</article>

		<article class="text">Comes from Jakarta, and pursuing a bachelor degree in Computer Science in the University of Indonesia. He is right now sitting in front of me. His hobby is nothing.</article>
	</div>


</body>
</html>
